$base-color: hsl(160, 70, 70);
$base-color-t1: hsla(160, 70, 70, 0.7);
$orange: hsla(25, 70%, 70%, 1);
$gold: hsl(45, 75, 75);
$gold-t: hsla(45, 75, 75, 0.1);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeinoutquart: cubic-bezier(0.77, 0, 0.175, 1);
$easeinoutquad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

body {
	margin: 0;
	padding: 0;
	color: $base-color;
	font-family: Cairo, sans-serif;
	font-size: 40px;
}

#gradient-bg {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: radial-gradient(ellipse, hsla(188, 80%, 14%, 1) 0%, hsla(220, 91%, 4%, 1) 100%);
}

#scene {
	width: 100%;
	height: 100%;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	perspective: 1800px;
	position: relative;
}

#camera {
	margin: 0 auto;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
}

// planes manage Z
.plane {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

// frames manage dimensions
.stack-frame {
	position: absolute;
	width: 600px;
	height: 250px;
	transform-style: preserve-3d;
	text-align: center;
}

#grid-bg {
	position: absolute;
	width: 300%;
	height: 200%;
	background: repeating-linear-gradient(
			to bottom,
			$base-color,
			$base-color 2px,
			hsla(0, 0%, 0%, 0%) 3px,
			hsla(0, 0%, 0%, 0%) 13px
		),
		repeating-linear-gradient(
			to left,
			$base-color,
			$base-color 2px,
			hsla(0, 0%, 0%, 0%) 3px,
			hsla(0, 0%, 0%, 0%) 13px
		);
	opacity: 0.02;
}

@import './animations';
@import './box';
@import './corners';
@import './button';