.box-frame {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;

	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	margin: auto;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transform-style: preserve-3d;
	color: $base-color;
	display: flex;
	justify-content: center;

	&.upper {
		border: 2px solid $base-color-t1;
		transition: transform 0.5s $ease-out-cubic, width 0s ease-out;
		animation-name: flicker, sliding-doors-open;
		animation-duration: 0.9s, 0.4s;
		animation-timing-function: ease, $easeinoutquad;
	}

	&.lower {
		animation-name: sliding-doors-open;
		animation-duration: 0.4s;
		animation-timing-function: $easeinoutquad;
	}

	.box-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.1;
		border: 2px solid $base-color-t1;
		box-shadow: 0 0 10px 10px $base-color;
		background-color: $base-color;
	}

	.box-content {
		position: absolute;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;

		&.lower {
			p {
				text-shadow: $base-color 0 0 6px;
				color: transparent;
			}
		}
	}
}
