$outer-pad: 8px;

.btn-plane {
	transform: translateZ(10px);
}

.btn-frame {
	position: absolute;
	top: 180px;
	margin: auto;
	transform-style: preserve-3d;
	width: 100%;
	// height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	transform-style: preserve-3d;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	cursor: pointer;
	animation-fill-mode: both;

	&.initial {
		height: 0px;
		width: 0px;
		opacity: 0;
		transform: translateZ(0px);
	}
}

.btn-outer {
	position: absolute;
	padding: $outer-pad;
	box-sizing: border-box;
	height: 65px;
	border: 2px solid $gold;
	transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease, transform 0.4s ease;

	&.normal {
		width: 180px;
		opacity: 1;
		transform: translateZ(5px);
	}

	&.hover {
		background-color: $gold-t;
	}
	&.clicked {
		background-color: $gold-t;
		animation: clicked-flicker;
		animation-duration: 0.1s;
		animation-iteration-count: 3;
	}
}

.btn-inner {
	position: absolute;
	height: 45px;
	border: 2px solid $base-color;
	box-sizing: border-box;
	overflow: hidden;
	user-select: none;

	&.initial {
		transform: translateZ(0px);
	}
	&.normal {
		width: 150px;
		opacity: 1;
		transform: translateZ(20px);
		transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease, transform 0.03s ease;
	}

	&.hover {
		transform: translateZ(30px);
		&.press {
			transform: translateZ(25px);
		}
	}
}
